{% extends "base.html" %} {% block content %}

<section>
  <section>
    <h2 class="display-4">Virtual Try on:About</h2>
  </section>
  <hr />
  <section>
    <p>
      "Virtual Try-On" is an innovative virtual clothing try-on tool designed to
      enhance your online shopping experience. It supports upper wear clothes
      for men and women.<br />
      With this cutting-edge technology, you can seamlessly try on clothes from
      the comfort of your own home, simulating the experience of trying them on
      in front of a mirror. Whether you're browsing for the perfect outfit or
      making a spontaneous purchase decision, Virtual Try-On enables you to
      effortlessly visualize how different styles and sizes look on you before
      making a commitment. Say goodbye to uncertainty and hello to confidence
      with Virtual Try-On.
    </p>
  </section>
</section>

{% endblock %}
